body {
     color: #fff;
     font-family: 'Calibri';
     font-size: 19px;
     font-weight: 300;
     margin: 0;
     padding: 0;
}
 .name-logo {
     color: #ffc61a;
     margin-top: 40px;
     text-transform: uppercase;
}
 header {
     background: url(../img/main.png) no-repeat center top / cover;
     height: 100vh;
}
 .header-menu li {
     display: inline-block;
     float: right;
}
 .logo {
     float: left;
     font-family: 'Didact Gothic', sans-serif;
}
 .container {
     box-sizing: border-box;
     display: block;
     margin: 0px auto;
     width: 1193px;
}
 .header-menu ul {
     margin: 0;
     padding-top: 40px;
}
 .header-menu a {
     color: #fff;
     font-family: 'Didact Gothic', sans-serif;
     font-size: 17px;
     font-weight: 400;
     margin: 20px;
     text-decoration: none;
     text-transform: uppercase;
}
 .header-menu a:hover {
     color: #ffc61a;
}
 .name-logo {
     font-size: 17px;
     font-weight: 400;
     margin-left: 30px;
}
 .main-titles {
     padding-top: 96px;
     text-align: center;
}
 .main-title {
     color: #ffc61a;
     font-size: 66px;
     font-weight: 500;
     margin: 0;
     text-transform: uppercase;
}
 .main-title2 {
     font-size: 46px;
     font-weight: 300;
     margin: 0;
     padding-top: 14px;
     text-transform: uppercase;
}
 .section1 {
     background: #fff;
     margin-top: 20px;
     padding-bottom: 45px;
}
 .title {
     color: #ffc61a;
     font-size: 30px;
     font-weight: 400;
     margin: 0;
     text-align: center;
     text-transform: uppercase;
}
 .title span {
     color: #000000;
     font-size: 30px;
     font-weight: 400;
     text-transform: uppercase;
}
 .taxi-title {
     margin-top: 20px;
     text-align: center;
}
 .taxi1, .taxi2, .taxi3 {
     background-color: #f5f4f2;
     border-radius: 10px;
     display: inline-block;
     height: 500px;
     width: 373px;
}
 .taxi-class {
     color: #000000;
     font-size: 30px;
     font-weight: 700;
     text-transform: uppercase;
}
 .description {
     color: #101010;
     font-size: 19px;
     font-weight: 400;
     text-align: center;
}
 .cost {
     color: #131313;
     font-size: 32px;
     font-weight: 400;
     text-transform: uppercase;
}
 .cost span {
     color: #ffc61a;
     font-weight: 600;
}
 .taxi-btn {
     background: transparent;
     border: 1px solid #777777;
     border-radius: 12px;
     color: #000;
     font-size: 18px;
     font-weight: 400;
     height: 48px;
     line-height: 39.8px;
     width: 165px;
}
 .taxi-btn:hover {
     background: #ffc61a;
     border: transparent;
}
 .taxi-btn a {
     color: #000;
     text-decoration: none;
}
 .section2 {
     background: url(../img/main2.jpg) no-repeat center / cover;
     height: 100vh;
     width: 100%;
}
 .title2 {
     color: #ffc61a;
     font-size: 30px;
     font-weight: 400;
     padding-top: 20px;
     text-align: center;
     text-transform: uppercase;
}
 .title2 span {
     color: #fff;
     font-size: 30px;
     font-weight: 400;
     text-transform: uppercase;
}
 .main2 {
     text-align: center;
}
 .features1, .features2, .features3 {
     display: inline-block;
     margin: 100px;
}
 .textach1 {
     color: #fff;
     font-weight: 300;
     margin: 0;
     text-align: center;
}
 .features-btn {
     background: #ffc61a;
     border: transparent;
     border-radius: 12px;
     color: #000;
     font-size: 18px;
     font-weight: 400;
     height: 48px;
     line-height: 39.8px;
     width: 165px;
}
 .features-btn:hover {
     background: #b88e0d;
}
 .features-btn a {
     color: #000;
     text-decoration: none;
}
 .section3 {
     background: #fff;
     padding-bottom: 30px;
     padding-top: 20px;
}
 .title3 {
     color: #ffc61a;
     font-size: 30px;
     font-weight: 400;
     margin: 0;
     text-align: center;
     text-transform: uppercase;
}
 .title3 span {
     color: #000;
     font-size: 30px;
     font-weight: 400;
     text-transform: uppercase;
}
 .driver1 {
     margin-left: 33px;
     padding: 0px 15px 0px 15px;
     text-align: center;
}
 .driver-title {
     color: #000;
     font-size: 30px;
     font-weight: 400;
     margin: 0;
     padding-left: 12px;
     text-transform: uppercase;
}
 .description2 {
     color: #101010;
     font-size: 19px;
     font-weight: 400;
}
 .driver-registration {
     display: inline-block;
     font-size: 30px;
     margin-left: 22px;
     padding: 0px 15px 0px 15px;
}
 .img-car {
     display: block;
     float: right;
     margin-right: 20px;
     padding-top: 20px;
     width: 55%;
}
 label {
     color: #000;
     font-size: 19px;
     font-weight: 500;
}
 form {
     border-radius: 12px;
     float: left;
     margin: 0 auto;
     padding: 0px 0px 0px 10px;
     text-align: center;
     width: 383px;
}
 input {
     border: 1px solid #949494;
     border-radius: 4px;
     color: #000;
     font-size: 19px;
     font-weight: 300;
     height: 25px;
     text-align: center;
}
 textarea {
     border: 1px solid #949494;
     border-radius: 4px;
     color: #000;
     font-size: 19px;
     font-weight: 300;
     height: 25px;
     height: 26px;
     text-align: center;
     width: 239px;
}
 .reg-btn {
     background: #ffc61a;
     border: transparent;
     border-radius: 12px;
     color: #000;
     font-size: 18px;
     font-weight: 400;
     height: 48px;
     line-height: 39.8px;
}
 .reg-btn:hover {
     background: #b88e0d;
     border: transparent;
}
 .scrollup {
     background: url(../img/icon_top.png) no-repeat;
     bottom: 50px;
     display: none;
     height: 40px;
     opacity: 0.3;
     position: fixed;
     right: 70px;
     text-indent: -9999px;
     width: 40px;
}
 .modalDialog {
     background: rgba(0,0,0,0.86);
     bottom: 0;
     display: none;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
}
 .modalDialog:target {
     display: block;
}
 .modalDialog > div {
     background: #f5f4f2;
     border-radius: 10px;
     color: #000;
     margin: 10% auto;
     padding: 5px 20px 13px 20px;
     position: relative;
     width: 400px;
}
 .close {
     background: #606061;
     color: #FFFFFF;
     font-weight: bold;
     line-height: 25px;
     position: absolute;
     right: -12px;
     text-align: center;
     text-decoration: none;
     top: -10px;
     width: 24px;
}
 .close:hover {
     background: #ffc61a;
}
 footer {
     background: url(../img/footer.jpg) no-repeat center top;
     display: block;
     height: 200px;
     padding-top: 20px;
}
 .title4 {
     color: #ffc61a;
     font-size: 30px;
     font-weight: 400;
     margin: 0;
     text-transform: uppercase;
}
 .description3 {
     color: #FFF;
     font-size: 19px;
     font-weight: 300;
     width: 343px;
}
 .footer-left {
     display: inline-block;
     float: left;
     margin-left: 48px;
}
 .footer-center {
     display: inline-block;
     margin-left: 120px;
     text-align: center;
}
 .subs {
     margin-top: 20px;
}
 .subs img {
     padding: 10px;
}
 .footer-right {
     float: right;
     margin-right: 40px;
     text-align: center;
}
 .footer-btn {
     background: transparent;
     border: 1px solid #fff;
     border-radius: 12px;
     color: #fff;
     font-size: 18px;
     font-weight: 400;
     height: 48px;
     line-height: 39.8px;
     margin-top: 25px;
     width: 165px;
}
.footer-btn:hover{
    background: rgba(48, 48, 48, 0.6);
}